body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .slider-container {
    height: 100%;
    overflow-y: hidden;
    perspective: 1000px;
  }
  
  .slider {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
  }
  
  .slider img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    transition: opacity 0.5s ease;
  }
  
  .slider img:not(:first-child) {
    opacity: 0;
    transform: translateY(100%);
  }
  
  .slider img:nth-child(2) {
    z-index: 1;
  }
  
  @media screen and (max-width: 768px) {
    .slider img {
      width: 100vw;
      height: auto;
    }
  }
  